{% load static %}
<!doctype html>
<html lang="ja" >
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="{% static 'ShiftManagementApp/signin.css' %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
  </head>
<body  class="text-center" >
    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
  <div class="container">
    <span class="skiplink-text">Skip to main content</span>
  </div>
</a>

    <form class="form-signin" method="post" action="{% url 'ShiftManagementApp:Login' %}">
      {% csrf_token %}
      <img class="mb-4" src="{% static 'ShiftManagementApp/_i_icon_11125_icon_111251.svg'%}" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Log in</h1>
      <font color="red">{{error_message}}</font>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name="email" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" name = "password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <div class="mt-4">
        <a href="{%url 'ShiftManagementApp:create-newaccount'%}" class="link-primary">新規アカウント作成</a>
      </div>
      <div class="mt-2">
        <a href="{%url 'ShiftManagementApp:password_reset'%}" class="link-primary">パスワードを忘れた場合</a>
      </div>
  </form>
</body>
    <script src="https://code.jquery.com/jquery-3.3 .1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>
  window.jQuery || document.write('<script src="{% static 'ShiftManagementApp/jquery-slim.min.js' %}"><\/script>')
</script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script><script src="/docs/4.3/assets/js/vendor/anchor.min.js"></script>
<script src="/docs/4.3/assets/js/vendor/clipboard.min.js"></script>
<script src="/docs/4.3/assets/js/vendor/bs-custom-file-input.min.js"></script>
<script src="/docs/4.3/assets/js/src/application.js"></script>
<script src="/docs/4.3/assets/js/src/search.js"></script>
<script src="/docs/4.3/assets/js/src/ie-emulation-modes-warning.js"></script>

</html>

