{%extends "ShiftManagementApp/base_password_reset.html"%}
{%block title%}
 パスワードリセット
{%endblock%}

{%block contents%}
<div class="mx-auto">
    <form action="" method="POST">
        {{ form.non_field_errors }}
        <p>メールを受信してパスワードの変更手続きを行います。</p>
        <p>登録しているメールアドレスを入力して送信ボタンを押してください。</p>
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
        {% csrf_token %}
        <br/>
        <div class="form-group row">
        <div class="col-12">
            <button type="submit" class="btn btn-primary btn-lg">送信</button>
        </div>
        </div>
    </form>
</div>
{%endblock%}