{% load i18n %}{% autoescape off %}
{{ user.get_username }}さん
{% blocktranslate %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktranslate %}

次のページで新しいパスワードを入力してください。
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'ShiftManagementApp:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% translate "Thanks for using our site!" %}

{% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}

{% endautoescape %}
